*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

/* Regole Header */

header{
    height: 70px;
    background-color: #0084FD;
    position: fixed;
    width: 100vw;
    z-index: 900;
}

.container{
    width: 85%;
    margin: 0 auto;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding-top: 15px;
}

.mainnav{
    display: flex;
}

.extended-mainnav{
    display: none;
    padding: 0 auto;
}

.menu{
    display: flex;
    list-style: none;
}

.menu li{
    padding: 10px;
    margin: 0 15px;
}

#sign-in{
    background-color: #fff;
    color: #000;
    border-radius: 20px;

}

/* Regole Main */

main{
    padding-top: 6.5em;
}

/* Regole Demo*/
.blucard{
    background-color: #B5DDFF;
    padding: 1em;
    margin: 1.2em auto;
    border-radius: 1.6em;
    text-align: center;
}
.blucard h2{
    text-align: center;
    color: #0285FD;
    font-size: 4em;
 
}
.blucard h3 {
    padding-top: 1em ;
    color: #0285FD;
    font-size: 1.3em;
    margin-bottom: 1.4em;
}

.demo{
    position:relative;
}

.centered{
    padding: 1.2em 2em;
}

.demo button{
    background-color:#0084FD;
    padding: 1em 2em;
    border: 0;
    border-radius: 1.8em;
    color: #fff;
    margin: 1.4em auto;
    position: relative;
    /* left: 50%;
    transform: translateX(-50%); */

}

.demo img{
    width: 70%;
    text-align: center;
    position: relative;
    /* left: 50%;*/
    transform: translate(0 , 15%); 
}

.blucard p{
    color: #6E859B;
    margin-bottom: 1.4em;
}

/* Regole Planning */
.planning{
    background-color: #9593E6;
    color: #fff;
    padding-bottom: 2em;
}

.plan-img img{
    position: relative;
    left: 10%;
    margin: 1.3em auto;
    width: 70vw;
}

.strategic-planning h2{
    margin: 1.5em auto;
}

.strategic-planning p{
    line-height: 1.8em;
}

.appdev{
    background-color: #fff;
    border-radius: 1.8em;
    margin: 2em auto;
    color: #000;
    padding: 0 2em;
}
.appdev-img img{
    max-width: 100%;
    margin: 1.3em auto;
    width: 70vw;
}
.appdev h3{
    margin: .8em;
    text-align: center;
}

.appdev em{
    text-align: center;
}

.appdev .fa-arrow-down{
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding: .8em;
    background-color: #9593E6;
    border-radius: 50%;
    margin: 2em 0;
}

/* Sezione Testimonial */
.testimonials p:first-child{
    margin-top: 1.5em;
}

.testimonials p{
    margin: 0 auto;
    text-align: center;
}

.testimonials h3{
    text-align: center;
    margin: 1.3em auto;
    font-size: 2em;
    color: #9792E4;
}

.testimonial-card{
    background-color: #9792E4;
    color: #fff;
    margin: 2em auto;
    padding: 2em;
    text-align: center;
    border-radius: 1.4em;
}

.testimonial-img{
    width: 10em;
    height: 10em;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    left: 15%;
}

.testimonial-img img{
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto;
}

.review{
    margin-top: 2em;
    color: #fff;
    font-size: 1.2em;
}

.testimonial-name{
    padding-top: 2em;
    font-size: 1.4em;
}